<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Djnago_level_two</title>
    <link rel="stylesheet" href= {% static "css/mycsstwo.css"%}>

  </head>
  <body>
    <h1>hi welcome to django Djnago_level_two</h1>
    <h2>here are your access_records:</h2>

    <div class="djangotwo">
      {% if access_records %}
      <table>
        <thead>
          <th>Site Name</th>
          <th>Date accessed</th>
        </thead>

        {% for acc in access_records %}
        <tr>
          <td>{{ acc.name }}</td>
          <td>{{ acc.date }}</td>
        </tr>
        {% endfor %}

      </table>
      {% else %}
      <p>No AccessRecord FOUND</p>
      {% endif %}

    </div>

  </body>
</html>
