<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog</title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script> -->

    <!-- medium style editer -->
    <!-- take from github -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    <!-- costom css -->
    <link rel="stylesheet" href="{% static 'css/blog.css'%}"> <!--static folder  -->

    <!-- fonts -->
    <!-- used google fints -->
<link href="https://fonts.googleapis.com/css2?family=Russo+One&family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">

  </head>
  <body>
    <!-- navbar -->

    <nav class="navbar navbar-default navbar-inverse navbar-static-top techfonts custom-navbar">

      <!-- we are using techfonts calss for css and costom navbar is used to costimized we are just Putting it not using it yet -->
        <div class="container">

            <ul class="nav navbar-nav">
          <li> <a class ="navbar-brand bigbrand " href="{%url 'post_list' %}">My Blog</a> </li>
          <li> <a  href="{%url 'about'%}">Admin</a> </li>
          <li> <a  href="https://www.github.com"> Github</a> </li>
          <li> <a href="https://www.linkedin.com">LinkdIn</a> </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">

            <!-- to use login and logou t -->
            {% if user.is_authenticated %}
            <li> <a href="{%url 'post_new' %}">New Post</a> </li>
            <li> <a href="{%url 'post_draft_list' %}">Drafts</a> </li>
            <li> <a href="{%url 'logout' %}">Log Out</a> </li>
            <li> <a>Welcome: {{user.username}}</a> </li>

            {% else %}

            <li> <a href="{% url 'login' %}"> <span class='glyphicon glyphicon-user'></span> </a></li>
            <!-- glyphicon glyphicon-user used for usericon  from bootstarp -->
            {%endif%}


          </ul >

</div>
  </nav>

    <!-- content block -->
    <div class="content container">
      <div class="row">
        <div class="col-md-8">
          <div class="blog_posts">
              {%block content %}
              {%endblock%}

          </div>
        </div>
      </div>

    </div>
  </body>
</html>
